@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager

<style>
    .btn-logout {
        background-color: var(--bs-body-tertiary) !important;
        color: var(--bs-body-color) !important; 
        
    }


</style>
@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Account" asp-action="Logout" class="nav-item btn btn-logout">
        <i class="bi bi-box-arrow-right"></i>
    </a>
}
else
{
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <a asp-controller="Account" asp-action="Register" class="nav-item">Registrar</a>
        <a asp-controller="Account" asp-action="Login" class="nav-item ">Login</a>
        <a asp-controller="Account" asp-action="LoginDemo" class="nav-item ">Convidado</a>
    </div>
}