@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Biblioteca.Models.RegisterViewModel


<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header text-center">Registrar Usuário</h3>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div class="mb-3">
                            <label asp-for="Nome" class="form-label">Usuário</label>
                            <input asp-for="Nome" type="text" class="form-control" required placeholder="Digite o nome de usuario...">
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" class="form-control" required placeholder="Digite o email...">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
        
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Senha</label>
                            <input asp-for="Password" type="password" class="form-control" required placeholder="Digite a senha...">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="ConfirmaPassword" class="form-label">Confirmar Senha</label>
                            <input asp-for="ConfirmaPassword" type="password" class="form-control" required placeholder="Confirme a senha...">
                            <span asp-validation-for="ConfirmaPassword" class="text-danger"></span>
                        </div>
                        
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Registrar-se</button>
                            <a asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
