@using BibliotecaLipe.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BibliotecaLipe.Models.Livro
@{
    ViewData["Title"] = "Criar";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="col-md-4">
    <form asp-action="Create" enctype="multipart/form-data">
        <legend>Cadastrar Livro</legend>
        <div>
            <label asp-for="Titulo" class="form-label mt-4">Título</label>
            <input asp-for="Titulo" type="text" class="form-control" placeholder="Digite o titulo">
        </div>
        <div>
            <label asp-for="Autor" class="form-label mt-4">Autor</label>
            <input asp-for="Autor" type="text" class="form-control" placeholder="Digite o Autor">
        </div>
        <div>
            <label asp-for="ISBN" class="form-label mt-4">ISBN</label>
            <input asp-for="ISBN" type="text" class="form-control" placeholder="Digite o ISBN">
        </div>
        <div>
            <label asp-for="Categoria" class="form-label mt-4">Categorias</label>
            <select class="form-select" asp-for="Categoria">
                @foreach (var categoria in Enum.GetValues(typeof(Categorias)))
                {
                    <option value="@categoria">@categoria</option>
                }
            </select>
        </div>
        <div>
            <label asp-for="DataPublicacao" class="form-label mt-4">Data de publicação</label>
            <input asp-for="DataPublicacao" type="date" class="form-control">
        </div>
        <div>
            <label asp-for="Descricao" class="form-label mt-4">Descrição do livro</label>
            <textarea asp-for="Descricao" class="form-control"  rows="10"></textarea>
        </div>
        <div>
            <label class="form-label mt-4">Capa do Livro</label>
            <input class="form-control" name="imagem" type="file">
        </div>
        <br/>
        <div>
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
            <input type="Submit" value="Cadastrar" class="btn btn-success">

        </div>
    </form>
</div>
</body>
</html>